#SpinningRectangle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

#SpinningRectangle .container {
  perspective: 1600px;
}

#SpinningRectangle .cuboid {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
}

#SpinningRectangle .face {
  position: absolute;
  width: 350px;
  height: 600px;
  border: 2px solid black;
  background-image: url('../../../../assets/images/parody-game-1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#SpinningRectangle .frontSide {
  transform: translateZ(50px);
}

#SpinningRectangle .backSide {
  transform: rotateY(180deg) translateZ(50px);
}

#SpinningRectangle .topSide {
  transform: rotateX(90deg)  rotateZ(90deg);
  width: 100px;
  height: 200px;
  
 
}

#SpinningRectangle .bottomSide {
  transform: rotateX(-90deg) translateZ(200px);
  width: 100px;
}

#SpinningRectangle .rightSide {
  transform: rotateY(90deg) translateZ(300px);
  width: 100px;
  background-color: #343231;
  background-image: none;
}

#SpinningRectangle .leftSide {
  transform: rotateY(-90deg) translateZ(50px);
  width: 100px;
  background-color: #343231;
  background-image: none;
}
