.container {
  perspective: 1600px; /* Double the perspective */
}

.cuboid {
  position: relative;
  width: 200px; /* Double the width of the cuboid */
  transform-style: preserve-3d;
  /* Remove any rotation styles if they exist */
}

.face {
  position: absolute;
  width: 350px; /* Double the width */
  height: 600px; /* Double the height */
  border: 2px solid black; /* Double the border if you want */
  background-image: url('../../../../assets/images/parody-game-1.png');
  background-size: 100% 100%; /* Stretch to fill the entire face */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.frontSide {
  transform: translateZ(50px); /* Double the Z translation */
}

.backSide {
  transform: rotateY(180deg) translateZ(50px); /* Double the Z translation */
}

.topSide {
  transform: rotateX(90deg) translateZ(300px); /* Double the Z translation */
  width: 100px;
}

.bottomSide {
  transform: rotateX(-90deg) translateZ(200px); /* Double the Z translation */
  width: 100px;
}

.rightSide {
  transform: rotateY(90deg) translateZ(300px); /* Double the Z translation */
  width: 100px;
  background-color:#343231 ;
  background-image: none;

}

.leftSide {
  transform: rotateY(-90deg) translateZ(50px); /* Double the Z translation */
  width: 100px;
  background-color:#343231 ;
  background-image: none;

}
