#Carousel {
width: 100%;
}

#Carousel .animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}



#Carousel .ball {
  width: 200px; /* Half the original width */
  height: 400px;
  position: absolute;
  top: -400px;
}



#Carousel .left {
  left: calc(50% - 200px);
  background: radial-gradient(circle at center, #ff0000, #990000);
  border-radius: 200px 0 0 200px; /* Half circle */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  animation: dropBall 1s forwards, shakeBall 0.5s 1s forwards, splitLeft 0.5s 1.5s forwards; 
}



#Carousel .right {
  left: 50%;
  background: radial-gradient(circle at center, #ffffff, transparent);
  border-radius: 0 200px 200px 0; /* Half circle */
  animation: dropBall 1s forwards, shakeBall 0.5s 1s forwards, splitRight 0.5s 1.5s forwards; 
}




@keyframes shakeBall {
  0% { transform: translateX(0); }
  25% { transform: translateX(-20px); }
  50% { transform: translateX(20px); }
  75% { transform: translateX(-20px); }
  100% { transform: translateX(0); }
}


@keyframes dropBall {
  to {
    top: calc(50% - 200px); /* Adjust this value to control where the ball lands */
  }
}


@keyframes splitLeft {
  to {
    left: 0; /* Move the left half to the left */
    top: 100%; /* Move the halves off the bottom of the screen */
  }
}

@keyframes splitRight {
  to {
    left: calc(100% - 200px); /* Move the right half to the right */
    top: 100%; /* Move the halves off the bottom of the screen */
  }
}





