# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules/
server/node_modules/
node_modules/
.cache/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules/
server/node_modules/
node_modules/
.cache/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.turbo
.cache
.fleet
.vscode
!.vscode/extensions.json
## Directory Specific
## =================================================================================================
## =================================================================================================
dist
build
/build
/coverage
## Project Specific
## =================================================================================================
## =================================================================================================
.env
.env.local
.env.development
.env.production
## System Bundlers
## =================================================================================================
## =================================================================================================
bower_components
client-apps/*/**js
.grunt
## System Generated Files
## =================================================================================================
## =================================================================================================
._*
.Trashes
.DS_Store
.DS_Store?
.Spotlight-V100
Thumbs.db
dist-ssr
## Diagnostic reports
## =================================================================================================
## =================================================================================================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
## NPM && Node
## =================================================================================================
## =================================================================================================
.npm
.pnp
typings/
node_modules/
jspm_packages/
## Logs .gitignore items
## =================================================================================================
## =================================================================================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
## Runtime data
## =================================================================================================
## =================================================================================================
pids
*.pid
*.seed
*.pid.lock
## Erroneous includes
## =================================================================================================
## =================================================================================================
*.ntvs*
*.njsproj
*.sln
*.sw?
