/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 
#tridiv {
  -webkit-perspective: 800px;
          perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}
#tridiv .face {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 1);
}
#tridiv .scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#tridiv .scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
#tridiv .shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
}
#tridiv .face, .face-wrapper {
  overflow: hidden;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
#tridiv .face {
  background-size: 100% 100%!important;
  background-position: center;
}
#tridiv .face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
#tridiv .photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
#tridiv .side {
  left: 50%;
}
#tridiv .cr, .cr .side {
  height: 100%;
}
#tridiv [class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
#tridiv [class*="cuboid"] .bk {
  left: 100%;
}
#tridiv [class*="cuboid"] .rt {
  -webkit-transform: rotateY(-90deg) translateX(-50%);
          transform: rotateY(-90deg) translateX(-50%);
}
#tridiv [class*="cuboid"] .lt {
  -webkit-transform: rotateY(90deg) translateX(-50%);
          transform: rotateY(90deg) translateX(-50%);
}
#tridiv [class*="cuboid"] .tp {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
}
#tridiv [class*="cuboid"] .bm {
  -webkit-transform: rotateX(-90deg) translateY(-50%);
          transform: rotateX(-90deg) translateY(-50%);
}
#tridiv [class*="cuboid"] .lt {
  left: 100%;
}
#tridiv [class*="cuboid"] .bm {
  top: 100%;
}
#tridiv [class*="cylinder"] .tp {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
}
#tridiv [class*="cylinder"] .bm {
  -webkit-transform: rotateX(-90deg) translateY(-50%);
          transform: rotateX(-90deg) translateY(-50%);
}
#tridiv [class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}
#tridiv [class*="cylinder"] .bm {
  top: 100%;
}
/* .cub-1 styles */
#tridiv .cub-1 {
  -webkit-transform:translate3D(0em, 1.5em, 0em) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, 1.5em, 0em) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:5.5em;
  height:6em;
  margin:-3em 0 0 -2.75em;
}
#tridiv .cub-1 .ft {
  -webkit-transform:translateZ(3em);
          transform:translateZ(3em);
}
#tridiv .cub-1 .bk {
  -webkit-transform:translateZ(-3em) rotateY(180deg);
          transform:translateZ(-3em) rotateY(180deg);
}
#tridiv .cub-1 .rt, .cub-1 .lt {
  width:6em;
  height:6em;
}
#tridiv .cub-1 .tp, .cub-1 .bm {
  width:5.5em;
  height:6em;
}
#tridiv .cub-1 .face {
  background-color:#3656a1;
}
/* .cub-2 styles */
#tridiv .cub-2 {
  -webkit-transform:translate3D(0em, -6.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, -6.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:5em;
  height:10em;
  margin:-5em 0 0 -2.5em;
}
#tridiv .cub-2 .ft {
  -webkit-transform:translateZ(2.75em);
          transform:translateZ(2.75em);
}
#tridiv .cub-2 .bk {
  -webkit-transform:translateZ(-2.75em) rotateY(180deg);
          transform:translateZ(-2.75em) rotateY(180deg);
}
#tridiv .cub-2 .rt, .cub-2 .lt {
  width:5.5em;
  height:10em;
}
#tridiv .cub-2 .tp, .cub-2 .bm {
  width:5em;
  height:5.5em;
}
#tridiv .cub-2 .face {
  background-color:#D8E4E9;
}
#tridiv .cub-2 .ft {
  width:5em;
  margin-left:0em;
}
#tridiv .cub-2 .bk {
  width:5em;
  margin-left:0em;
}
#tridiv .cub-2 .rt, .cub-2 .lt {
  width:5.5em;
}
#tridiv .cub-2 .tp, .cub-2 .bm, .cub-2 .tp .photon-shader, .cub-2 .bm .photon-shader {
  border-radius:0em;
}
#tridiv .cub-2 .cr {
  width:0em;
  left:0em;
}
#tridiv .cub-2 .cr-0 {
  -webkit-transform: translate3D(5em, 0, 2.75em);
      -ms-transform: translate3D(5em, 0, 2.75em);
          transform: translate3D(5em, 0, 2.75em);
}
#tridiv .cub-2 .cr-1 {
  -webkit-transform: translate3D(5em, 0, -2.75em);
      -ms-transform: translate3D(5em, 0, -2.75em);
          transform: translate3D(5em, 0, -2.75em);
}
#tridiv .cub-2 .cr-2 {
  -webkit-transform: translate3D(0, 0, -2.75em);
      -ms-transform: translate3D(0, 0, -2.75em);
          transform: translate3D(0, 0, -2.75em);
}
#tridiv .cub-2 .cr-3 {
  -webkit-transform: translate3D(0, 0, 2.75em);
      -ms-transform: translate3D(0, 0, 2.75em);
          transform: translate3D(0, 0, 2.75em);
}
#tridiv .cub-2 .cr-0 .s0 {
  -webkit-transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-0 .s1 {
  -webkit-transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-0 .s2 {
  -webkit-transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-1 .s0 {
  -webkit-transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-1 .s1 {
  -webkit-transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-1 .s2 {
  -webkit-transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-2 .s0 {
  -webkit-transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-2 .s1 {
  -webkit-transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-2 .s2 {
  -webkit-transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-3 .s0 {
  -webkit-transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-3 .s1 {
  -webkit-transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .cr-3 .s2 {
  -webkit-transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-2 .side {
  width:0.025em;
}
/* .cub-3 styles */
#tridiv .cub-3 {
  -webkit-transform:translate3D(0em, -12em, 0em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, -12em, 0em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:5.5em;
  height:6.5em;
  margin:-3.25em 0 0 -2.75em;
}
#tridiv .cub-3 .ft {
  -webkit-transform:translateZ(0.5em);
          transform:translateZ(0.5em);
}
#tridiv .cub-3 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
          transform:translateZ(-0.5em) rotateY(180deg);
}
#tridiv .cub-3 .rt, .cub-3 .lt {
  width:1em;
  height:6.5em;
}
#tridiv .cub-3 .tp, .cub-3 .bm {
  width:5.5em;
  height:1em;
}
#tridiv .cub-3 .face {
  background-color:#3656a1;
}
/* .cub-4 styles */
#tridiv .cub-4 {
  -webkit-transform:translate3D(0em, 5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, 5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:10em;
  height:1em;
  margin:-0.5em 0 0 -5em;
}
#tridiv .cub-4 .ft {
  -webkit-transform:translateZ(5.25em);
          transform:translateZ(5.25em);
}
#tridiv .cub-4 .bk {
  -webkit-transform:translateZ(-5.25em) rotateY(180deg);
          transform:translateZ(-5.25em) rotateY(180deg);
}
#tridiv .cub-4 .rt, .cub-4 .lt {
  width:10.5em;
  height:1em;
}
#tridiv .cub-4 .tp, .cub-4 .bm {
  width:10em;
  height:10.5em;
}
#tridiv .cub-4 .face {
  background:url(https://www.pexels.com/photo/gray-fleece-textile-978462/) #38394d;
}
#tridiv .cub-4 .ft {
  width:9em;
  margin-left:0.5em;
}
#tridiv .cub-4 .bk {
  width:9em;
  margin-left:-0.5em;
}
#tridiv .cub-4 .rt, .cub-4 .lt {
  width:9.5em;
}
#tridiv .cub-4 .tp, .cub-4 .bm, .cub-4 .tp .photon-shader, .cub-4 .bm .photon-shader {
  border-radius:0.5em;
}
#tridiv .cub-4 .cr {
  width:0.5em;
  left:0.25em;
}
#tridiv .cub-4 .cr-0 {
  -webkit-transform: translate3D(9em, 0, 4.75em);
      -ms-transform: translate3D(9em, 0, 4.75em);
          transform: translate3D(9em, 0, 4.75em);
}
#tridiv .cub-4 .cr-1 {
  -webkit-transform: translate3D(9em, 0, -4.75em);
      -ms-transform: translate3D(9em, 0, -4.75em);
          transform: translate3D(9em, 0, -4.75em);
}
#tridiv .cub-4 .cr-2 {
  -webkit-transform: translate3D(0, 0, -4.75em);
      -ms-transform: translate3D(0, 0, -4.75em);
          transform: translate3D(0, 0, -4.75em);
}
#tridiv .cub-4 .cr-3 {
  -webkit-transform: translate3D(0, 0, 4.75em);
      -ms-transform: translate3D(0, 0, 4.75em);
          transform: translate3D(0, 0, 4.75em);
}
#tridiv .cub-4 .cr-0 .s0 {
  -webkit-transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(15deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-0 .s1 {
  -webkit-transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(45deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-0 .s2 {
  -webkit-transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(75deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-1 .s0 {
  -webkit-transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(105deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-1 .s1 {
  -webkit-transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(135deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-1 .s2 {
  -webkit-transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(165deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-2 .s0 {
  -webkit-transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(195deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-2 .s1 {
  -webkit-transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(225deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-2 .s2 {
  -webkit-transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(255deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-3 .s0 {
  -webkit-transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(285deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-3 .s1 {
  -webkit-transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(315deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .cr-3 .s2 {
  -webkit-transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
          transform: rotateY(345deg) translate3D(-50%, 0, 0.475em);
}
#tridiv .cub-4 .side {
  width:0.2929491924311227em;
}
/* .cub-5 styles */
#tridiv .cub-5 {
  -webkit-transform:translate3D(-4em, 10em, -4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(-4em, 10em, -4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:10.5em;
  margin:-5.25em 0 0 -0.75em;
}
#tridiv .cub-5 .ft {
  -webkit-transform:translateZ(0.5em);
          transform:translateZ(0.5em);
}
#tridiv .cub-5 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
          transform:translateZ(-0.5em) rotateY(180deg);
}
#tridiv .cub-5 .rt, .cub-5 .lt {
  width:1em;
  height:10.5em;
}
#tridiv .cub-5 .tp, .cub-5 .bm {
  width:1.5em;
  height:1em;
}
#tridiv .cub-5 .face {
  background-color:#38394d;
}
/* .cub-6 styles */
#tridiv .cub-6 {
  -webkit-transform:translate3D(-4em, 10em, 4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(-4em, 10em, 4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:10.5em;
  margin:-5.25em 0 0 -0.75em;
}
#tridiv .cub-6 .ft {
  -webkit-transform:translateZ(0.5em);
          transform:translateZ(0.5em);
}
#tridiv .cub-6 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
          transform:translateZ(-0.5em) rotateY(180deg);
}
#tridiv .cub-6 .rt, .cub-6 .lt {
  width:1em;
  height:10.5em;
}
#tridiv .cub-6 .tp, .cub-6 .bm {
  width:1.5em;
  height:1em;
}
#tridiv .cub-6 .face {
  background-color:#38394d;
}
/* .cub-7 styles */
#tridiv .cub-7 {
  -webkit-transform:translate3D(4em, 10em, 4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(4em, 10em, 4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:10.5em;
  margin:-5.25em 0 0 -0.75em;
}
#tridiv .cub-7 .ft {
  -webkit-transform:translateZ(0.5em);
          transform:translateZ(0.5em);
}
#tridiv .cub-7 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
          transform:translateZ(-0.5em) rotateY(180deg);
}
#tridiv .cub-7 .rt, .cub-7 .lt {
  width:1em;
  height:10.5em;
}
#tridiv .cub-7 .tp, .cub-7 .bm {
  width:1.5em;
  height:1em;
}
#tridiv .cub-7 .face {
  background-color:#38394d;
}
/* .cub-8 styles */
#tridiv .cub-8 {
  -webkit-transform:translate3D(4em, 10em, -4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(4em, 10em, -4.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:10.5em;
  margin:-5.25em 0 0 -0.75em;
}
#tridiv .cub-8 .ft {
  -webkit-transform:translateZ(0.5em);
          transform:translateZ(0.5em);
}
#tridiv .cub-8 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
          transform:translateZ(-0.5em) rotateY(180deg);
}
#tridiv .cub-8 .rt, .cub-8 .lt {
  width:1em;
  height:10.5em;
}
#tridiv .cub-8 .tp, .cub-8 .bm {
  width:1.5em;
  height:1em;
}
#tridiv .cub-8 .face {
  background-color:#38394d;
}
#tridiv .cub-8 .ft {
  width:1.5em;
  margin-left:0em;
}
#tridiv .cub-8 .bk {
  width:1.5em;
  margin-left:0em;
}
#tridiv .cub-8 .rt, .cub-8 .lt {
  width:1em;
}
#tridiv .cub-8 .tp, .cub-8 .bm, .cub-8 .tp .photon-shader, .cub-8 .bm .photon-shader {
  border-radius:0em;
}
#tridiv .cub-8 .cr {
  width:0em;
  left:0em;
}
#tridiv .cub-8 .cr-0 {
  -webkit-transform: translate3D(1.5em, 0, 0.5em);
      -ms-transform: translate3D(1.5em, 0, 0.5em);
          transform: translate3D(1.5em, 0, 0.5em);
}
#tridiv .cub-8 .cr-1 {
  -webkit-transform: translate3D(1.5em, 0, -0.5em);
      -ms-transform: translate3D(1.5em, 0, -0.5em);
          transform: translate3D(1.5em, 0, -0.5em);
}
#tridiv .cub-8 .cr-2 {
  -webkit-transform: translate3D(0, 0, -0.5em);
      -ms-transform: translate3D(0, 0, -0.5em);
          transform: translate3D(0, 0, -0.5em);
}
#tridiv .cub-8 .cr-3 {
  -webkit-transform: translate3D(0, 0, 0.5em);
      -ms-transform: translate3D(0, 0, 0.5em);
          transform: translate3D(0, 0, 0.5em);
}
#tridiv .cub-8 .cr-0 .s0 {
  -webkit-transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-0 .s1 {
  -webkit-transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-0 .s2 {
  -webkit-transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-1 .s0 {
  -webkit-transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-1 .s1 {
  -webkit-transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-1 .s2 {
  -webkit-transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-2 .s0 {
  -webkit-transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-2 .s1 {
  -webkit-transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-2 .s2 {
  -webkit-transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-3 .s0 {
  -webkit-transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-3 .s1 {
  -webkit-transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .cr-3 .s2 {
  -webkit-transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
          transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
}
#tridiv .cub-8 .side {
  width:0.025em;
}
/* .cub-9 styles */
#tridiv .cub-9 {
  -webkit-transform:translate3D(9em, 11em, 4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(9em, 11em, 4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:6.5em;
  height:8em;
  margin:-4em 0 0 -3.25em;
}
#tridiv .cub-9 .ft {
  -webkit-transform:translateZ(1.5em);
          transform:translateZ(1.5em);
}
#tridiv .cub-9 .bk {
  -webkit-transform:translateZ(-1.5em) rotateY(180deg);
          transform:translateZ(-1.5em) rotateY(180deg);
}
#tridiv .cub-9 .rt, .cub-9 .lt {
  width:3em;
  height:8em;
}
#tridiv .cub-9 .tp, .cub-9 .bm {
  width:6.5em;
  height:3em;
}
#tridiv .cub-9 .face {
  background-color: #B0916E;
}
#tridiv .cub-9 .tp {
  background-color:#38394d;
}
/* .cyl-1 styles */
#tridiv .cyl-1 {
  -webkit-transform:translate3D(0em, 1.5em, 3em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, 1.5em, 3em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:2em;
  margin:-1em 0 0 -0.75em;
}
#tridiv .cyl-1 .tp, .cyl-1 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-1 .side {
  width:0.36736521158522495em;
  height:2em;
}
#tridiv .cyl-1 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-1 .face, .cyl-1 .side {
  background-color:#B5C0C9;
}
/* .cub-10 styles */
#tridiv .cub-10 {
  -webkit-transform:translate3D(0em, 1.5em, 2.5em) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, 1.5em, 2.5em) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
#tridiv .cub-10 .ft {
  -webkit-transform:translateZ(1em);
          transform:translateZ(1em);
}
#tridiv .cub-10 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
          transform:translateZ(-1em) rotateY(180deg);
}
#tridiv .cub-10 .rt, .cub-10 .lt {
  width:2em;
  height:2em;
}
#tridiv .cub-10 .tp, .cub-10 .bm {
  width:2em;
  height:2em;
}
#tridiv .cub-10 .face {
  background-color:#B5C0C9;
}
/* .cyl-2 styles */
#tridiv .cyl-2 {
  -webkit-transform:translate3D(0em, -2.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, -2.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-2 .tp, .cyl-2 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-2 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-2 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-2 .face, .cyl-2 .side {
  background-color:#FFFFFF;
}
/* .cyl-3 styles */
#tridiv .cyl-3 {
  -webkit-transform:translate3D(1.5em, -2.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(1.5em, -2.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-3 .tp, .cyl-3 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-3 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-3 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-3 .face, .cyl-3 .side {
  background-color:#FFFFFF;
}
/* .cyl-4 styles */
#tridiv .cyl-4 {
  -webkit-transform:translate3D(-1.5em, -2.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(-1.5em, -2.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-4 .tp, .cyl-4 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-4 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-4 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-4 .face, .cyl-4 .side {
  background-color:#FFFFFF;
}
/* .cyl-5 styles */
#tridiv .cyl-5 {
  -webkit-transform:translate3D(0em, -4em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(0em, -4em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-5 .tp, .cyl-5 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-5 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-5 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-5 .face, .cyl-5 .side {
  background-color:#FFFFFF;
}
/* .cyl-6 styles */
#tridiv .cyl-6 {
  -webkit-transform:translate3D(-1em, -3.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(-1em, -3.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-6 .tp, .cyl-6 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-6 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-6 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-6 .face, .cyl-6 .side {
  background-color:#FFFFFF;
}
/* .cyl-7 styles */
#tridiv .cyl-7 {
  -webkit-transform:translate3D(1.5em, -4.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(1.5em, -4.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-7 .tp, .cyl-7 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-7 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-7 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-7 .face, .cyl-7 .side {
  background-color:#FFFFFF;
}
/* .cyl-8 styles */
#tridiv .cyl-8 {
  -webkit-transform:translate3D(-1.5em, -5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(-1.5em, -5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-8 .tp, .cyl-8 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-8 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-8 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-8 .face, .cyl-8 .side {
  background-color:#FFFFFF;
}
/* .cyl-9 styles */
#tridiv .cyl-9 {
  -webkit-transform:translate3D(-1.5em, -6.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(-1.5em, -6.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-9 .tp, .cyl-9 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-9 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-9 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-9 .face, .cyl-9 .side {
  background-color:#FFFFFF;
}
/* .cyl-10 styles */
#tridiv .cyl-10 {
  -webkit-transform:translate3D(-0.5em, -5.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(-0.5em, -5.5em, 2em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1.5em;
  height:1em;
  margin:-0.5em 0 0 -0.75em;
}
#tridiv .cyl-10 .tp, .cyl-10 .bm {
  width:1.5em;
  height:1.5em;
}
#tridiv .cyl-10 .side {
  width:0.36736521158522495em;
  height:1em;
}
#tridiv .cyl-10 .s0 {
  -webkit-transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s1 {
  -webkit-transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s2 {
  -webkit-transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s3 {
  -webkit-transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s4 {
  -webkit-transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s5 {
  -webkit-transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s6 {
  -webkit-transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s7 {
  -webkit-transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s8 {
  -webkit-transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s9 {
  -webkit-transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s10 {
  -webkit-transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s11 {
  -webkit-transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s12 {
  -webkit-transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .s13 {
  -webkit-transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
          transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
}
#tridiv .cyl-10 .face, .cyl-10 .side {
  background-color:#FFFFFF;
}
/* .cub-11 styles */
#tridiv .cub-11 {
  -webkit-transform:translate3D(9em, 11em, 5.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform:translate3D(9em, 11em, 5.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:5.5em;
  height:7em;
  margin:-3.5em 0 0 -2.75em;
}
#tridiv .cub-11 .ft {
  -webkit-transform:translateZ(0.5em);
          transform:translateZ(0.5em);
}
#tridiv .cub-11 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
          transform:translateZ(-0.5em) rotateY(180deg);
}
#tridiv .cub-11 .rt, .cub-11 .lt {
  width:1em;
  height:7em;
}
#tridiv .cub-11 .tp, .cub-11 .bm {
  width:5.5em;
  height:1em;
}
#tridiv .cub-11 .face {
  background-color:#f7f7fd;
}
/* .cub-12 styles */
#tridiv .cub-12 {
  -webkit-transform:translate3D(6.5em, 8em, 6em) rotateX(0deg) rotateY(0deg) rotateZ(58.3deg);
          transform:translate3D(6.5em, 8em, 6em) rotateX(0deg) rotateY(0deg) rotateZ(58.3deg);
  opacity:1;
  width:2em;
  height:0.5em;
  margin:-0.25em 0 0 -1em;
}
#tridiv .cub-12 .ft {
  -webkit-transform:translateZ(0em);
          transform:translateZ(0em);
}
#tridiv .cub-12 .bk {
  -webkit-transform:translateZ(0em) rotateY(180deg);
          transform:translateZ(0em) rotateY(180deg);
}
#tridiv .cub-12 .rt, .cub-12 .lt {
  width:0em;
  height:0.5em;
}
#tridiv .cub-12 .tp, .cub-12 .bm {
  width:2em;
  height:0em;
}
#tridiv .cub-12 .face {
  background-color:#D8E4E9;
}
/* .cub-13 styles */
#tridiv .cub-13 {
  -webkit-transform:translate3D(11.5em, 8em, 6em) rotateX(0deg) rotateY(0deg) rotateZ(132.4deg);
          transform:translate3D(11.5em, 8em, 6em) rotateX(0deg) rotateY(0deg) rotateZ(132.4deg);
  opacity:1;
  width:2em;
  height:0.5em;
  margin:-0.25em 0 0 -1em;
}
#tridiv .cub-13 .ft {
  -webkit-transform:translateZ(0em);
          transform:translateZ(0em);
}
#tridiv .cub-13 .bk {
  -webkit-transform:translateZ(0em) rotateY(180deg);
          transform:translateZ(0em) rotateY(180deg);
}
#tridiv .cub-13 .rt, .cub-13 .lt {
  width:0em;
  height:0.5em;
}
#tridiv .cub-13 .tp, .cub-13 .bm {
  width:2em;
  height:0em;
}
#tridiv .cub-13 .face {
  background-color:#D8E4E9;
}