@keyframes dropAndBounce {
  0% {
    transform: translateY(-100vh) 
  }
  60% {
    transform: translateY(0) 
  }
  65% {
    transform: translateY(0) scaleY(0.8) scaleX(1.2); /* Squish and stretch */
  }
  70% {
    transform: translateY(-60px) scaleY(1) scaleX(1);
  }
  80% {
    transform: translateY(0) scaleY(1) scaleX(1);
  }
  90% {
    transform: translateY(-30px) scaleY(1) scaleX(1);
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
  }
}

.model-viewer-animation {
  animation: dropAndBounce 4s ease;
}
