@keyframes diagonal-scroll {
  0% {
    background-position: 0% 0%, 20px 20px;
  }
  100% {
    background-position: 40px 40px, 60px 60px;
  }
}

.diagonal-scroll {
  background: linear-gradient(45deg, #d1d1d1 25%, transparent 25%, transparent 75%, #d1d1d1 75%, #d1d1d1),
              linear-gradient(45deg, #d1d1d1 25%, transparent 25%, transparent 75%, #d1d1d1 75%, #d1d1d1);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  animation: diagonal-scroll 5s linear infinite;
}
